<header id="site-header" class="header--expanded">
    <div class="container header__content">
      <a href="{{ '/' | relative_url }}" class="header__logo">{{ site.title }}</a>
      <nav id="main-nav" class="header__nav">
        <ul>
          <li><a href="/{{ site.baseurl }}/">Home</a></li>
          <li><a href="/{{ site.baseurl }}/blog/">Blog</a></li>
          <li><a href="/{{ site.baseurl }}/projects/">Projects</a></li>
        </ul>
      </nav>
      <button id="nav-toggle" class="header__toggle" aria-label="Toggle navigation">
        <span class="hamburger"></span>
      </button>
    </div>
  </header>